<div class="container home-page-splash">
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<br>
			<br>
			<br>
			<h1>Run miles with friends to get PR's!</h1>
		</div>
	</div>
</div>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>