<% if notice %>
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<%= notice %>
	</div>
<% end %>


<% if current_user.valid_access_token %>
	<p>Lets sync your data!</p>
<% else %>
	<br>
	<div class="jumbotron">
	  <h1>Authorize your Strava Account!</h1>
	  
	  <%= link_to image_tag('btn_strava_connectwith_orange.png'), strava_auth(@client_id) %>
	</div>
<% end %>
	
	


<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>



