<div class="container-fluid background-img">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="row">
		<div class="col-md-6 col-md-offset-6">
			<%= link_to image_tag('btn_strava_connectwith_orange.png'), strava_auth(@client_id) %>
		</div>
	</div>
	
</div>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>



