// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
	height: 100%;
  	width: 100%;
}
.background-img{
	height: 100%;
	background-image: url("npsf.jpg");
	background-position: center center;
   background-size: cover; 
}
