// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-shot {
	background-image: url("npsf.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:100%;
	background-repeat:no-repeat;
}
.cover-shot {
	#all_footnotes{
		display: none;
	}
}
.home-page-splash h1{
	color:white;
}